/.idea/
/target/
/core/target/
/common/target/
/service-api/target/
/server/target/
/client/target/
/server/server.iml
/client/client.iml
/rpc.iml
/core/core.iml
/common/common.iml
/service-api/service-api.iml

/.settings
*/.settings
.classpath
.project
.DS_Store